body {
  width:100%;
  overflow-x:hidden;
  overflow-y: visible;
  padding-top: 60px;
  background: linear-gradient(to right, #be2938, #f33b4d, #be2938);
}

.pokeball-logo {
    margin-left: 1em
}

.two-mini {
  max-height: 35px;
  opacity: 70%;
}

#navbarNav ul {
    text-align: right;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 10000;
}

.navbar-nav {
  margin-right: 7em;
  margin-left: auto;
}

.custom-container {
  position: relative;
  max-width: 100vw;
  height: 100vh;
}

.logo {
  max-width: 90vw;
  /* margin: 0 0 0 -0.4em; */
  margin: 0 auto 0;
  padding: 2em auto 0;
}
.pokedex {
  margin-top: 1em
}

.two {
  max-height: 80px;
}
.landing {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #f33b4d;
  background: linear-gradient(to right, #be2938, #f33b4d, #be2938);;
  
  text-align: center;
}

.logo-container {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  margin: 0 auto
}

.trainer {
    width: 25%;
    margin-top: 2em;
}

.trio {
   display: none;
}
.landing-content {
  position: absolute;
  top: 4.1em;
  left: 0;
  right: 0;
  max-width: 80%;
  background-color: white;
  text-align: center;
  margin: 0 auto 0;
  padding: 12em 0 0;
  border-radius: 2em;

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.452), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

.landing-content p {
  width: 90%;
  margin: 1em auto .5em;
  font-size: 1.2em;
  color: #002e92;
  font-family: 'Gochi Hand', cursive;
  text-transform: uppercase;
}

.sign,
.view {
  display: block;
  background-color: #fbcb04;
  /* background-color: #207492; */
  color: #207492;
  margin: 0.5em auto;
  font-size: 1.2em;
  font-family: 'VT323', monospace;

  padding: 0.3em;
  border: none;
  border-radius: .3em;

  
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.452), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}


.evo-trio {
  display: none
}

.how-it-works {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 2em;
    /* margin-top: 2em; */
    overflow: hidden;
    background-color: rgb(255, 229, 124);
    
    background: linear-gradient( rgb(255, 229, 124), rgb(235, 194, 30), rgb(255, 229, 124));
}

.how-it-works img {
  max-width: 80vw;
  padding-top: 3em;
}
.text-container {
    max-width: 70vw;
    margin: 1em 0 auto -1.5em;
    padding: 2em 1em 2em 2em;
    background: linear-gradient(to right, rgb(3, 28, 170), rgb(6, 28, 224), rgb(3, 28, 170));
    border-radius: 1em;
  /* border-style:solid;
  border-width: 1em;
  border-color: rgb(223, 234, 255); */

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.452), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}
    
.text-container p {
    margin: 0;
    margin-right: 0;
    color: white;
    font-size: 1.2em;
}


.ash {
    position: absolute;
    height: 50vh;
    right: -4em;
    top: 8em;

}

.pokeballs {
    position: relative;
    margin-top: 3em;
    margin-bottom: 1em;
    padding-bottom: 2em;
}
.row .col-12 h3 {
    font-family: 'Gochi Hand', cursive;
  text-transform: uppercase;
  margin-bottom: none !important
}

/* POKEBALLS */
.row {
    max-width: 90vw;
    margin: 1em auto;
}
.first {
    margin-left: -1em;
}
.center {
    margin: 0 1.4em
}
.right {
    margin: 0 0 0 3.5em
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* Poké Styles */
  .pokeball {
    position: relative;
    width: 6em;
    height: 6em;
    background: #fff;
    border: 3px solid #000;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset -10px 10px 0 10px #ccc;
    animation: fall .25s ease-in-out,
               shake 1.25s cubic-bezier(.36,.07,.19,.97) 3;
  }
  .pokeball::before,
  .pokeball::after {
    content:"";
    position: absolute;
  }
  .pokeball::before {
    background: #f33b4d;
    width: 100%;
    height: 50%;
    left: 0
  }
  .pokeball::after {
    top: calc(50% - 7px);
    width: 102%;
    height: 7px;
    background: #000;
    left: 0
  }
  .pokeball__button {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 17px);
    width: 2.2em;
    height: 2.2em;
    background: #7f8c8d;
    border: 6px solid #fff;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 6px black;
    animation: blink .5s alternate 7;
  }
  /* Animation */
  @keyframes blink {
    from { background: #eee;}
    to { background: #e74c3c; }
  }
  /* @keyframes shake {
    0 { transform: translate(0, 0) rotate(0); }
    20% { transform: translate(-10px, 0) rotate(-20deg); }
    30% { transform: translate(10px, 0) rotate(20deg); }
    50% { transform: translate(-10px, 0) rotate(-10deg); }
    60% { transform: translate(10px, 0) rotate(10deg); }
    100% { transform: translate(0, 0) rotate(0); }
  } */
  /* @keyframes fall {
    0% { top: -200px }
    60% { top: 0 }
    80% { top: -20px }
    100% { top: 0 }
  } */



  .xp-section {
    position: relative;
    height: fit-content;
    width: 100vw;
    min-height: 100vh;
    text-align: center;
    background-color: rgb(153, 255, 86);
    overflow-x: hidden;
    padding-top: 5em;
    padding-bottom: 3em;
    overflow-y: hidden;
}

.sub {
  text-transform: uppercase;
  font-family: 'Gochi Hand', cursive;
  font-size: 1.7em;
}

.white-box {
  max-width: 80%;
  background-color: white;
  margin: -5em auto 0;
  border-radius: 1em;
  font-family: 'VT323', monospace;
  color: #002e92;
  padding: 5.5em 1em 1em;
  font-size: 1.2em;



  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.452), 0 2px 2px rgba(0, 0, 0, 0.12),
  0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
  0 16px 16px rgba(0, 0, 0, 0.12);
}

.venusaur {
  position: relative;
  max-width: 100vw;
  margin: -3.3em -2em 2em -2em;
}

.xp {
  margin-top: 3em;
}

.xp-btn {
  border: none;
  border-radius: .3em;
  background-color: #df6497;
  color: rgb(22, 51, 9);
  font-size: 1.3em;
  margin-bottom: 2em;


  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.452), 0 2px 2px rgba(0, 0, 0, 0.12),
  0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
  0 16px 16px rgba(0, 0, 0, 0.12);
}


.about {
  position: relative;
  height: 100vh;
  width: 100vw;
  text-align: center;
  /* padding: 7em 0 0; */
  /* margin-top: 1em; */
  
  background-color: rgb(111, 114, 255);
  overflow: hidden;
  background: linear-gradient(rgb(139, 141, 255), #01074e);
}

.full-logo {
  max-width: 80vw;
  margin-top: -12em
}

.about-text {
  max-width: 90vw;
  margin: 7em auto 2em;
  background-color: white;
  padding: 5em 1em .5em;
  border-radius: 1em;
  

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.452), 0 2px 2px rgba(0, 0, 0, 0.12),
  0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
  0 16px 16px rgba(0, 0, 0, 0.12);
}

.social-icons {
  font-size: 2em;
  padding: 0;
  text-align: center;
}

.icon {
  margin: 0 auto;
}



@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  
  body {
  width:100%;
  overflow-x:hidden;
}

  /* NAV */
  .pokeball-logo {
    margin-left: 5em
}

  
  /* LANDING PAGE */
  
  .logo {
    min-width: 75vw;
    margin: 0 0 0 -0.4em;
    padding: 0;
  }
  .two {
    max-height: none;
    min-width: 25vw;
    margin: -5em auto 1em;
  }

  .landing-content {
    top: 12em
  }

  .trainer {
    display: none
  }
  
  .trio {
    display: inline-block;
    max-width: 99%;
    margin-top: -2em
  }
  .landing-content p {
    font-size: 2em;
  }

  .view, .sign {
    font-size: 2em;
  }

  .logo-container {
    top: 2em;
  
  }




  /* HOW IT WORKS */

  .worx {
    width: 90vw;
    margin: 5em auto 2em
  }
  .text-container {
    padding: 3em 2em 4em 2em
  }

  .text-container p {
    font-size: 2.5em;
  }


  .ash {
    position: absolute;
    height: 75vh;
    left: 40em;
    top: 19em
}

.pokeball {
  width: 8rem;
  height: 8rem;
}

.row .col-12 h3 {
  font-family: 'Gochi Hand', cursive;
  font-size: 4em;
text-transform: uppercase;
margin-bottom: none !important;
margin-left: -4em
}




/* GAIN XP */


.white-box {
  max-width: 50%;
  padding: 10em 2em 2em;
  margin: -12em auto 0;
}

.xp {
  width: 65vw
}
.sub {
  font-size: 4em;
}

.white-box p {
  font-size: 2em;
  padding-top: 1em
}

.xp-container {
  padding: 0;
  margin: 1em -13em 0 auto;
  overflow: hidden initial;
}

.xp-section {
  overflow-x: hidden;
  overflow-y: inherit;
}

.venusaur { 
  max-width: 75vw;
  margin: -11em auto auto -6em;

}

.xp-btn {
  font-size: 2.5em;
  margin: 1em auto 0 8em
}


/* ABOUT  */
.about-text {
  max-width: 80vw;
  font-size: 2em;
  padding-top: 5em;
  margin-top: -3em;
}

.social-icons {
  font-size: 3em;
}

}



@media only screen and (min-width: 1200px) {
  
  .pokeball-logo {
    margin-left: 7.5em
}


  .landing {
    overflow: hidden;
  }
  
  .trainer {
    display: none;
  }

  .landing-content {
    width: 50%;
    margin-top: 4em;
    margin-left: 0;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
  }

  .logo-container {
    position: relative;
    /* z-index: 2;
    left: 0;
    right: 0; */
    margin: 0;
    padding: 4em 0 0;
    width: 50%;
  }

  .landing-content p {
    width: 90%;
    margin: 1em auto .5em;
    font-size: 1.2em;
    color: #ffffff;
    font-family: 'Gochi Hand', cursive;
    text-transform: uppercase;

  }

  .evo-trio {
    display: block;
    height: 120vh;
    padding: 0;
    float: right;
    margin: -15em -2em 0 0;
    opacity: 40%;
  }



  /* HOW IT WORKS */
  .how-it-works {
    position: relative;
    height: 100vh;
    padding-top: 0;
}

  .how-it-works img {
    width: 40vw;
  }

  .text-container {
    max-width: 50vw;
    margin: 1em auto 1em 3em;
  }

}