body {
    /* background-color: #f33b4d; */
    background: linear-gradient(to right, #be2938, #f33b4d, #be2938);
}

.pokeball-logo {
    margin-left: 1em
}

.two-mini {
  max-height: 35px;
  
}

.navbar-toggler {
  opacity: 100%;
}

#navbarNav ul {
    text-align: right;
    margin-right: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 10000;
  }




.navbar-nav {
  margin-right: 7em;
  margin-left: auto;
}
  

.members {
    position: relative;
    height: 100vh;
    width: 100vw;
    padding-top: 3em;
    padding-bottom: 2em;
    margin-top: 4em;
    
    
}

.container {
    padding-bottom: 2em;
    padding-top: 1em;
    /* background-color: #f33b4d; */
}

.user-info-img {
    max-width: 80vw;
    margin: -5em auto 1em -1em;
}

.user-info , .user-pokedex {
    max-width: 80vw;
    background-color: rgb(247, 247, 247);
    margin: 0 auto;
    border-radius: 1em;
    padding: 4em 1em 2em;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.452), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

.user-info {
    padding-top: 2em
}

.users-pokemon {
    max-width: 90%;
    margin: 0 auto
}

.user-pokedex {
    padding: 0 .5em 1em;
    margin-top: 3em
}

h4 {
    font-size: .9em;
    margin-bottom: 0;
    margin-top: 1em;
}
.user-name, .first-name, .last-name, .email, .xp {
    max-width: 50%;
    font-size: 1.4em;

}

.badge-container {
    max-width: 100%;
    margin: 2em auto -3em;
    align-content: center;
}

.badge-container img {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}


.badges {
    max-width: 80vw;
    background-color: rgb(247, 247, 247);
    margin: 2em auto;
    border-radius: 1em;
    padding: 1em 1em 2em;


    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.452), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

.badges h5 {
    margin-bottom: 1em;
}
.gym-badge {
    max-width: 100%;
}

.mini-container {
    text-align: center;
    margin-top: 1em;
}

.gain-xp-btn {
    display: block;
  background-color: #fbcb04;
  /* background-color: #207492; */
  color: #207492;
  margin: 0 auto;
  font-size: 1.2em;
  font-family: 'VT323', monospace;

  padding: 0.3em;
  border: none;
  border-radius: .3em;

  
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.452), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}


.badge-text {
    margin: 0 auto .5em
}

.pokedex-entry {
    text-align: center;
    padding: 0 .5em;
    margin: 0 1em
}
.pokedex-entry p {
    max-width: 90%;
    margin: 0 auto;
}

.attr {
    margin: 0;
    padding: 0;
    max-width: fit-content;
    max-height: fit-content;
}

.starters-logo {
    max-width: 90%;
    margin: -2em 1em 0;
}



@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {

    #navbarNav ul {
        text-align: right;
        margin-right: 6em;
    }


    .pokeball-logo {
        margin-left: 6em
    }

    .pic-container {
        width: fit-content;
        margin: 4em auto -2em
    }

    .user-info , .user-pokedex {
        max-width: 75vw;
    }

    .badges {
        max-width: 75vw;
    }

    .gym-badge {
        max-width: 50%;
    }

    .col-3 {
        text-align: center;
    }
}




@media only screen and (min-width: 1200px) {

    .pokeball-logo {
        margin-left: 6em
    }
    
    
    #navbarNav ul {
        text-align: right;
        margin-right: 8em;
        margin-left: auto;
    }

    .user-info {
        max-width: 45vw;
        position: absolute;
        left: 8em
    }

    .user-info-img {
        width: 90%;
        position:absolute;
        margin: -4em auto 1em
    }

    .badges {
        max-width: 55vw;
        position: absolute;
        right: 6em;
        margin-top: 0
    }

    .gym-badge {
        max-width: 50%;
    }

    .col-3 {
        text-align: center;
    }
}