body {
    width:100%;
    overflow-x:hidden;
    overflow-y: visible;
    padding-top: 60px;
    background-color: #f33b4d;
  }
  
  .pokeball-logo {
      margin-left: 1em
  }
  
  .two-mini {
    max-height: 35px;
    
  }
  
  .navbar-toggler {
    opacity: 100%;
  }
  
  #navbarNav ul {
      text-align: right;
      margin-right: 0;
  }
  
  /* .navbar-collapse {
    text-align: right;
  } */
  
  
  
  .navbar-nav {
    margin-right: 7em;
    margin-left: auto;
  }
  
  .welcome-container {
    position: relative;
    max-width: 100vw;
    height: 100vh;
  }


  .welcome, .take-test {
      background-color: rgb(35, 204, 255);
      max-width: 80vw;
      margin: 2em auto;
      padding: 2em 1em;
      border-radius: 1em;
      text-align: center;
      font-size: 1em;

      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.452), 0 2px 2px rgba(0, 0, 0, 0.12),
      0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
      0 16px 16px rgba(0, 0, 0, 0.12);
  }

  .welcome h1 {
    font-family: 'VT323', monospace;
    text-transform: uppercase;
    font-size: 3em;
    color: white;
  }

  .welcome p {
    font-family: 'VT323', monospace;
    font-size: 1.5em;
  }

  .mini-logo {
      margin: 1em auto 2em;
      }

  .take-test h2 {
      font-size: 1.4em;
      font-family: 'Gochi Hand', cursive;
      text-transform: uppercase;
  }

  .take-test {
    padding: 1em;
    background-color: white;
}

  .quiz-container {
    position: relative;
    max-width: 100vw;
    height: 100vh;
    display: none;
  }

  .quiz-content, .quiz-question{
    background-color: rgb(255, 255, 255);
    max-width: 80vw;
    margin: 2em auto;
    padding: 2em 1em;
    border-radius: 1em;
    text-align: center;
    font-size: 1em;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.452), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
  }

.quiz-content h1 {
    font-family: 'VT323', monospace;
    font-size: 2em;
}


.quiz-question {
    margin: .5em auto;
    padding: .5em;
    font-size: 1em;
    background-color: yellow;
    font-family: 'VT323', monospace;
    color: rgb(8, 8, 168)
}

.question-img {
  max-width: 80%;
  height: auto;
}

.large-logo {
  display: none
}


@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  .pokeball-logo {
    margin-left: 4.8em
}

#navbarNav ul {
  text-align: right;
  margin-right: 6em;
  margin-left: auto
}


.mini-logo {
  display: none;
}


.large-logo {
  display: inline
}



.welcome, .take-test {
  max-width: 70%;
}
}




@media only screen and (min-width: 1200px) {

  .pokeball-logo {
    margin-left: 6em
}

#navbarNav ul {
    text-align: right;
    margin-right: 6em;
    margin-left: auto;
}


.mini-logo {
  display: none;
}



.large-logo {
  display: inline;
  height: 30vh
}


.welcome h1 {
  font-size: 2em;

}

.welcome p {
  font-family: 'VT323', monospace;
  font-size: 1.3em;
}

.quiz-content, .quiz-question{
  background-color: rgb(255, 255, 255);
  max-width: 60vw;
  margin: 2em auto;
  padding: 1.5em 1em;
  border-radius: 1em;
  text-align: center;
  font-size: 1.5em;
}

.quiz-content h1 {
  font-family: 'VT323', monospace;
  font-size: 2em;
}


.quiz-question {
  margin: .5em auto;
  padding: .5em;
  max-width: 50vw;
  font-size: 1em;
  background-color: yellow;
  font-family: 'VT323', monospace;
  color: rgb(8, 8, 168)
}

.question-img {
max-width: 80%;
height: auto;
max-height: 200px;
}


}



@media only screen and (min-width: 1600px) {

  .pokeball-logo {
    margin-left: 10em
}

#navbarNav ul {
    text-align: right;
    margin-right: 10em;
    margin-left: auto;
}


.welcome, .take-test {
  max-width: 60%;
}



.quiz-content, .quiz-question{
  background-color: rgb(255, 255, 255);
  max-width: 60vw;
  margin: 2em auto;
  padding: 2em 1em;
  border-radius: 1em;
  text-align: center;
  font-size: 1.5em;
}

.quiz-content {
  min-height: 600px;
}
.quiz-content h1 {
  font-family: 'VT323', monospace;
  font-size: 2em;
}


.quiz-question {
  margin: .5em auto;
  padding: .5em;
  max-width: 50vw;
  font-size: 1.5em;
  background-color: yellow;
  font-family: 'VT323', monospace;
  color: rgb(8, 8, 168)
}

.question-img {
max-width: 80%;
height: auto;
max-height: 400px;
}
}