body, html {
  max-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(to right, #be2938, #f33b4d, #be2938);
}
.pokeball-logo {
    margin-left: 1em
}

#navbarNav ul {
    text-align: right;
    margin-right: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 10000;
}

.two-mini {
  max-height: 35px;
  
}


.red {
    
    padding: 4em 0 0;
    min-height: 100vh;
    margin-top: 3em;
    margin-bottom: 0
}

.form-row {
    background-color: rgb(247, 247, 247);
    max-width: 90%;
    margin: 0 auto;
    padding: 1em 1.5em 2em;
    border-radius: 15px;
  
  
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.452), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
  }

  .sign {
      width: 100%;
      text-align: center;
  }

  .sign-in-logo {
      height: 7em;
      margin: -4rem 0 0;

  }
  
  .form-row form {
    font-size: 1.5em;
    font-family: 'VT323', monospace;
  }
  
  .button, .log {
    width: 100%;
    text-align: center;
    margin-top: 1em;
    font-family: 'VT323', monospace;
  }
  
  .button button {
    font-size: 1em;
    background-color: rgb(55, 55, 255);
    color: yellow;
  }

  .misty {
    display: none;
  }
  

  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    .pokeball-logo {
      margin-left: 4.8em
  }
  
  #navbarNav ul {
    text-align: right;
    margin-right: 6em;
    margin-left: auto
}
    
    
    .misty {
      display: inline-block;
      position: absolute;
      height: 900px;
      left: 28em;
      top: -3em
    }

    .form-row {
      max-width: 80vw;
      margin-top: 3em
    }
    .form-row form {
      padding-top: 2em;
      font-size: 2.5em;
    }

    .sign-in-logo {
      height: 12em;
      margin: -5rem 0 0;

    }


    button .navbar-toggler {
      margin-right: 4.8em !important;
  }

  }